# Ignore everything by default
*

# Don't ignore this .gitignore file
!.gitignore

# Track only these project files
!config_manager.py
!core/counter_logic.py
!core/detection_engine.py
!gui/gui_setup.py
!main.py
!gui/progress_window.py
!utils/results_export.py
!core/training_mode.py
!utils/utils.py
!core/video_processor.py
!scripts/folder_monitor.py
!scripts/cleanup_footage.py
!requirements.txt
!scripts/cuda_test.py
